head{ 
    background-color:darkolivegreen;
}
body{color: darkolivegreen;
}
h1{color: darkolivegreen;
}
h1{color: darkolivegreen;
}
h1{color: darkolivegreen;
}
button{
   background-color: rgb(34, 248, 6);
   border-radius: 10px;
   color: green;
   border:5px solid black;
   padding: 10px 20px;
   cursor:pointer;
   transition:background-color 0.3s ease;
}
button:hover{
          background-color: green;
          color: darkkhaki;
          border: 2px solid white;
}




